<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.youthfireit.dailydeals">



    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArabianPure"
        tools:targetApi="m"
        android:allowClearUserData="true"
        android:allowClearUserDataOnFailedRestore="true">
        <activity android:name="com.youthfireit.dailydeals.activity.SettingsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.youthfireit.dailydeals.activity.CategoryProductsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.youthfireit.dailydeals.activity.SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.youthfireit.dailydeals.activity.SingleProductActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.youthfireit.dailydeals.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.youthfireit.dailydeals.activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.youthfireit.dailydeals.activity.RegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.youthfireit.dailydeals.activity.MainActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>